@import url('https://fonts.googleapis.com/css2?family=Norican&family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}
.clone{
    overflow: hidden;
}
.head{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 7px 15px 10px 15px;
    z-index: 2;
    background-color: black;
}
.logo{
    font-family: 'Norican', cursive;
    font-size: 2.4rem;
}
.chate{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22%;
    padding-right: 15px;
}
img{
    pointer-events: none;
}
.stories ul{
    
    list-style-type: none;
    user-select: none;
    display: flex;
    overflow-y: auto;
    padding: 90px 0 0px 0;
}
.stories ul li{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
::-webkit-scrollbar{
    width: 0;
}
.stories ul li:first-child{
    padding-left: 15px;
}
.stories ul li:last-child{
    padding-right: 20px;
}
.stories ul li .story{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: rgba(255, 255,255, .75);
    padding: 1px;
    position: relative;
}
.stories ul li.has-story .story{
    padding: 3px;
    background: linear-gradient(45deg, #f09433 0% , #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.stories ul li .story img{
    padding: 4px;
    background: black;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.stories ul li.has-story .story img{
    padding: 2px;
}
.stories ul li span{
    color: rgb(255, 255,255);
    font-weight: 300;
    font-size: 15px;
    max-width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}
.stories ul li .user{
    color: rgba(255, 255,255, 0.65);
}
.line{
    width: 100%;
    height: .1px;
    background-color: rgba(255, 255, 255, 0.158);
}
.post-content{
    display: flex;
    flex-direction: column;
    padding-top: 10px;

}
.post-content .post-head{
    position: relative;
    margin-bottom: 4px;
    height: 50px;
    width: 100%;
}
.post-content .post-head img{
    position: absolute;
    bottom: 6px;
    left: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.post-content .post-head .name{
    position: absolute;
    left: 63px;
    bottom: 7px;
}
.post-content .post-head .name h5{
    font-weight: 300;
}
.post-content .post-head .name h4{
    font-weight: 500;
}
.post-content .post-head .icon{
   bottom: 17px;
    position: absolute;
    left: 380px;
    width: 15px;
    height: 15px;
}
.post-content .like{
    position: relative;
    background-color: red;
    margin-bottom: 40px;
    margin-top: 10px;
}
.post-content .like .icon1{
    position: absolute;
    left: 10px;
    width: 25px;
    height: 25px;
}
.post-content .like .icon2{
    position: absolute;
    left: 50px;
    width: 25px;
    height: 25px;
}
.post-content .like .icon3{
    position: absolute;
    left: 92px;
    width: 25px;
    height: 25px;
}
.post-content .like .icon4{
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
}

.likes{
    display: flex;
    align-items: center;
    padding: 10px 10px 8px 10px ;
}
.likes .lik{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 6px;
}
.likes p{
    font-size: 14px;
    font-weight: 100;
    letter-spacing: .3px;
}
.likes p b{
    font-weight: 500;
}
.descr{
    margin-left: 10px;
}
.descr .p1 span,
.descr .p2,
.pasttime,
.addcom{
    color: #ffffffac;
}
.descr .p1, .p2{
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: .3px;
}
.descr .p2{
    font-weight: 300;
}
.descr .p1 b{
    font-weight: 500;
}
.addcom {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.addcom span{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 200;
    color: #ffffff88;
}
.addcom img{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    
}
.pasttime{
    font-size: 12px;
    margin-left: 3px;
}
.pasttime b{
    color: white;
    font-weight: 500;
}







.icon{
    filter: invert(94%) sepia(0%) saturate(3568%) hue-rotate(339deg) brightness(108%) contrast(101%);
}